window {
    background-color: #1f1e1e;
}
/*
scrolledwindow {
    background-color: #2d2c2c;
}

scrolledwindow > child {
    background-color: #2d2c2c;
}

textview text {
    background-color: #2d2c2c;
    color: white;
}

sourceview {
    background-color: #2d2c2c;
}

sourceview text {
    background-color: #2d2c2c;
}
*/

textview {
    font-size: 15px;
}

headerbar {
    background-color: #ecebeb;
    min-height: 10px;
    padding: 0px;
    border-color: #ecebeb;
    color: black;
}

header {
    padding-left: 20px;
}

.title-label {
    font-size: 13px;
    font-weight: bold;
    padding-left: 10px;
}

menubar {
    background-color: #ecebeb;
    color: black;
}

popover contents {
    background-color: #ecebeb;
}

/* Individual menu items */
popover modelbutton {
    color: black;
}

/* Hovered menu item */
popover modelbutton:hover {
    background-color: #d0cfcf;
    color: black;
}
headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
    margin-right: 3px;
    min-width: 0px;
    min-height: 0px;
    filter: invert(1);
}